<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>問５</title>
</head>
<body>
	<h1>Web問題</h1>
	<p>問5から問8に回答してください。</p>
	<ul>
		<li>
			<a th:href="@{/q5}">問5</a>
			<p>間違ったパスを修正して正しく画面が表示されるようにしてください。</p>
			<p>(WrongPathControllerを編集して上記のリンクから呼び出せるようにすること)</p>
		</li>
		<li>
			<a th:href="@{/q6?linkTo=1}">問6-1</a>
			<a th:href="@{/q6?linkTo=2}">問6-2</a>
			<p>linkToパラメータの値によって表示画面を切り替えてください。</p>
		</li>
		<li><a th:href="@{/q7}">問7</a>
			<p>入力チェックを追加してください。<br>
				「左のテキストボックスには数値を入力してください。」<br>
				「右のテキストボックスには数値を入力してください。」<br>
				というエラーメッセージを出してください。<br>
　				1つ未入力の場合はエラーは一つのみです。<br>
　				エラーが出た場合は計算結果を出力しないでください。
　　　　　　　　　 ※Thymeleafを使用する場合、HTMLのエラー表示の部分はなかなかソラで
　　　　　　　　　　書くことが難しいです。そのためエラーがある場合はメッセージをスコープに
　　　　　　　　　　入れてそれをHTMLに表示するなど、上記の仕様が満たせられる＆自分が実現
　　　　　　　　　　できる技術を使ってください
			</p></li>
		<li><a th:href="@{/q8}">問8</a>
			<p>遷移先の設問に答えてください。</p></li>
	</ul>
</body>
</html>