
header{
    width: 500px;
    height: 50px;
    background-color: aqua;
}

.a{
    width: 100px;
    height: 300px;
    background-color: blue;
}

.b{
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}

.c{
    width: 100px;
    height: 300px;
    background-color: brown;
}

.main{
    display: flex;

}

footer{
    width: 500px;
    height: 50px;
    background-color: lawngreen;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
