<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>問7</title>
</head>
<body>
	<!-- Spring formタグを使って入力値を残す -->
	<form th:object="${calcForm}" th:action="@{/add}" method="post">
		<!-- エラーメッセージ表示 -->
		 <div th:errors="*{left}" style="color:red">エラー</div>
		<input type="text" name="left" th:field="*{left}">
		<span>&nbsp;+&nbsp;</span>
		<div th:errors="*{right}" style="color:red">エラー</div>
		<input type="text" name="right" th:field="*{right}">
		<span>&nbsp;=&nbsp;</span>
		<span th:text="${result}"></span><br>
		<div><input type="submit" value="計算" /></div>
	</form>
</body>
</html>
